@import url(base.css);

/* Ocultar el menú hamburguesa en pantallas grandes */
.hamburger-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    width: 235px;
    max-width: 100vh;
    background: var(--Colors-Neutral-1000);
    border-right: 1px solid var(--Colors-Neutral-700);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px; 
    justify-content: space-between;
    flex-shrink: 0; /* Evita que el sidebar se encoja */
}

/* Secciones dentro del sidebar */
.sidebar-workspace {
    flex-grow: 1; 
}

.sidebar-config {
    margin-top: auto; 
}

/* Logo */
.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-logo a {
    display: inline-block;
    cursor: pointer; /* Cambia el cursor a una mano */
}

/* Buscador */
.sidebar-search {
    padding: 8px 10px;
    border-radius: 8px;
    background: var(--Colors-Base-100);
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: var(--Colors-Neutral-500)
}

/* Espacio de trabajo */
.section-title {
    font-size: 14px;
    color: var(--Colors-Neutral-500);
    margin-bottom: 20px;
}

/* Menú */
.menu ul, .config-nav ul {
    list-style: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
}

/* Botón desplegable */
.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: var(--Colors-Brand-300);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 6px;
}

.dropdown-btn:hover{
    background-color: var(--Colors-property-color-2-Alpha-10);
}

.dropdown-btn div {
    display: flex;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Submenú */
.submenu {
    list-style: none;
    display: none; /* esto hace que esté oculto por defecto */
    flex-direction: column;
    padding-left: 24px;
}

.submenu a {
    text-decoration: none;
    color: var(--Colors-Neutral-500);
    font-size: 14px;
    padding: 12px 0;
    display: block;
    transition: color 0.3s;
}

.submenu a:hover {
    color: var(--Colors-Brand-300);
}

/* Menú de configuración */
.config-nav a {
    text-decoration: none;
    color: var(--Colors-Neutral-500);
    font-size: 14px;
    display: block;
    padding: 10px 0;
    transition: color 0.3s;
}

.config-nav a:hover {
    color: var(--Colors-Brand-300);
}

/* Breakpoint para tablet/móvil */
@media (max-width: 900px) {
    /* Ocultar el sidebar por defecto */
    .sidebar {
        position: fixed;
        left: -100%;
        width: 230px;
        transition: left 0.3s ease-in-out;
    }

    .sidebar-logo {
        display: none;
    }

    /* Mostrar el botón del menú hamburguesa */
    .hamburger-menu {
        display: block;
        z-index: 1000; /* Asegura que esté por encima del contenido */
        margin-bottom: 40px;
    }

    /* Cuando el menú está activo */
    .sidebar.active {
        left: 0;
        height: 100vh
    }

    /* Ajustar el contenido cuando el menú está abierto */
    .main-content {
        margin-left: 0;
    }
}